<?php
declare(strict_types=1);

/**
 * OrgConnectApi.
 *
 * PHP version 7.4
 *
 * @category Class
 * @package  DocuSign\Admin
 * @author   Swagger Codegen team <apihelp@docusign.com>
 * @license  The Docusign PHP Client SDK is licensed under the MIT License.
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Docusign Admin API
 *
 * An API for an organization administrator to manage organizations, accounts and users
 *
 * OpenAPI spec version: v2.1
 * Contact: devcenter@docusign.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.21
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace DocuSign\Admin\Api\OrgConnectApi;


/**
 * GetOrganizationConnectConfigsOptions Class Doc Comment
 *
 * @category Class
 * @package  DocuSign\Admin
 * @author   Swagger Codegen team <apihelp@docusign.com>
 * @license  The Docusign PHP Client SDK is licensed under the MIT License.
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class GetOrganizationConnectConfigsOptions
{
    /**
      * $sort_by Sorts configs by field in ascending order. Default sort by config name. Default value: name
      * @var ?string
      */
    protected ?string $sort_by = null;

    /**
     * Gets sort_by
     *
     * @return ?string
     */
    public function getSortBy(): ?string
    {
        return $this->sort_by;
    }

    /**
     * Sets sort_by
     * @param ?string $sort_by Sorts configs by field in ascending order. Default sort by config name. Default value: name
     *
     * @return self
     */
    public function setSortBy(?string $sort_by): self
    {
        $this->sort_by = $sort_by;
        return $this;
    }
    /**
      * $site_id Selects configs based on siteId
      * @var ?int
      */
    protected ?int $site_id = null;

    /**
     * Gets site_id
     *
     * @return ?int
     */
    public function getSiteId(): ?int
    {
        return $this->site_id;
    }

    /**
     * Sets site_id
     * @param ?int $site_id Selects configs based on siteId
     *
     * @return self
     */
    public function setSiteId(?int $site_id): self
    {
        $this->site_id = $site_id;
        return $this;
    }
    /**
      * $account_id Selects configs based on accountId
      * @var ?string
      */
    protected ?string $account_id = null;

    /**
     * Gets account_id
     *
     * @return ?string
     */
    public function getAccountId(): ?string
    {
        return $this->account_id;
    }

    /**
     * Sets account_id
     * @param ?string $account_id Selects configs based on accountId
     *
     * @return self
     */
    public function setAccountId(?string $account_id): self
    {
        $this->account_id = $account_id;
        return $this;
    }
    /**
      * $allow_envelope_publish Selects configs based on their status
      * @var ?bool
      */
    protected ?bool $allow_envelope_publish = null;

    /**
     * Gets allow_envelope_publish
     *
     * @return ?bool
     */
    public function getAllowEnvelopePublish(): ?bool
    {
        return $this->allow_envelope_publish;
    }

    /**
     * Sets allow_envelope_publish
     * @param ?bool $allow_envelope_publish Selects configs based on their status
     *
     * @return self
     */
    public function setAllowEnvelopePublish(?bool $allow_envelope_publish): self
    {
        $this->allow_envelope_publish = $allow_envelope_publish;
        return $this;
    }
    /**
      * $q Selects configs based on config id or name provided in the query parameter
      * @var ?string
      */
    protected ?string $q = null;

    /**
     * Gets q
     *
     * @return ?string
     */
    public function getQ(): ?string
    {
        return $this->q;
    }

    /**
     * Sets q
     * @param ?string $q Selects configs based on config id or name provided in the query parameter
     *
     * @return self
     */
    public function setQ(?string $q): self
    {
        $this->q = $q;
        return $this;
    }
}



namespace DocuSign\Admin\Api;

use DocuSign\Admin\Client\ApiClient;
use DocuSign\Admin\Client\ApiException;
use DocuSign\Admin\Configuration;
use DocuSign\Admin\ObjectSerializer;

/**
 * OrgConnectApi Class Doc Comment
 *
 * @category Class
 * @package  DocuSign\Admin
 * @author   Swagger Codegen team <apihelp@docusign.com>
 * @license  The Docusign PHP Client SDK is licensed under the MIT License.
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class OrgConnectApi
{
    /**
     * API Client
     *
     * @var ApiClient instance of the ApiClient
     */
    protected ApiClient $apiClient;

    /**
     * Constructor
     *
     * @param ApiClient|null $apiClient The api client to use
     *
     * @return void
     */
    public function __construct(?ApiClient $apiClient = null)
    {
        $this->apiClient = $apiClient ?? new ApiClient();
    }

    /**
     * Get API client
     *
     * @return ApiClient get the API client
     */
    public function getApiClient(): ApiClient
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param ApiClient $apiClient set the API client
     *
     * @return self
     */
    public function setApiClient(ApiClient $apiClient): self
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
    * Update $resourcePath with $
    *
    * @param string $resourcePath the resource path to use
    * @param string $baseName the base name param
    * @param string $paramName the parameter name
    *
    * @return string
    */
    public function updateResourcePath(string $resourcePath, string $baseName, string $paramName): string
    {
        return str_replace(
            "{" . $baseName . "}",
            $this->apiClient->getSerializer()->toPathValue($paramName),
            $resourcePath
        );
    }


    /**
     * Operation createOrganizationConnectConfig
     *
     * Adds a Connect configuration for an organization
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectConfigurationRequest $connect_request Add an organization Connect request (required)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse
     */
    public function createOrganizationConnectConfig($organization_id, $connect_request)
    {
        list($response) = $this->createOrganizationConnectConfigWithHttpInfo($organization_id, $connect_request);
        return $response;
    }

    /**
     * Operation createOrganizationConnectConfigWithHttpInfo
     *
     * Adds a Connect configuration for an organization
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectConfigurationRequest $connect_request Add an organization Connect request (required)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function createOrganizationConnectConfigWithHttpInfo($organization_id, $connect_request): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling createOrganizationConnectConfig');
        }
        // verify the required parameter 'connect_request' is set
        if ($connect_request === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connect_request when calling createOrganizationConnectConfig');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        // body params
        $_tempBody = null;
        if (isset($connect_request)) {
            $_tempBody = $connect_request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse',
                '/v2/organizations/{organizationId}/connect'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteConnectHmacSecret
     *
     * Deletes information about a Connect HMAC secret
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $key_id The key ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse
     */
    public function deleteConnectHmacSecret($organization_id, $key_id)
    {
        list($response) = $this->deleteConnectHmacSecretWithHttpInfo($organization_id, $key_id);
        return $response;
    }

    /**
     * Operation deleteConnectHmacSecretWithHttpInfo
     *
     * Deletes information about a Connect HMAC secret
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $key_id The key ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteConnectHmacSecretWithHttpInfo($organization_id, $key_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling deleteConnectHmacSecret');
        }
        // verify the required parameter 'key_id' is set
        if ($key_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $key_id when calling deleteConnectHmacSecret');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/secret/{keyId}";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($key_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "keyId", $key_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse',
                '/v2/organizations/{organizationId}/connect/secret/{keyId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteOrganizationConnectConfig
     *
     * Deletes information about an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return object
     */
    public function deleteOrganizationConnectConfig($organization_id, $connect_id)
    {
        list($response) = $this->deleteOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id);
        return $response;
    }

    /**
     * Operation deleteOrganizationConnectConfigWithHttpInfo
     *
     * Deletes information about an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling deleteOrganizationConnectConfig');
        }
        // verify the required parameter 'connect_id' is set
        if ($connect_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connect_id when calling deleteOrganizationConnectConfig');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/{connectId}";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($connect_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "connectId", $connect_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/v2/organizations/{organizationId}/connect/{connectId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteOrganizationConnectOAuthConfiguration
     *
     * Deletes an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return object
     */
    public function deleteOrganizationConnectOAuthConfiguration($organization_id)
    {
        list($response) = $this->deleteOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id);
        return $response;
    }

    /**
     * Operation deleteOrganizationConnectOAuthConfigurationWithHttpInfo
     *
     * Deletes an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling deleteOrganizationConnectOAuthConfiguration');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/oauth";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/v2/organizations/{organizationId}/connect/oauth'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getConnectHmacSecrets
     *
     * Returns information about Connect HMAC secrets
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse
     */
    public function getConnectHmacSecrets($organization_id)
    {
        list($response) = $this->getConnectHmacSecretsWithHttpInfo($organization_id);
        return $response;
    }

    /**
     * Operation getConnectHmacSecretsWithHttpInfo
     *
     * Returns information about Connect HMAC secrets
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getConnectHmacSecretsWithHttpInfo($organization_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getConnectHmacSecrets');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/secret";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse',
                '/v2/organizations/{organizationId}/connect/secret'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getOrganizationConnectConfig
     *
     * Returns an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse
     */
    public function getOrganizationConnectConfig($organization_id, $connect_id)
    {
        list($response) = $this->getOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id);
        return $response;
    }

    /**
     * Operation getOrganizationConnectConfigWithHttpInfo
     *
     * Returns an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getOrganizationConnectConfig');
        }
        // verify the required parameter 'connect_id' is set
        if ($connect_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connect_id when calling getOrganizationConnectConfig');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/{connectId}";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($connect_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "connectId", $connect_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse',
                '/v2/organizations/{organizationId}/connect/{connectId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getOrganizationConnectConfigs
     *
     * Returns a list of Connect configurations under an organization
     *
     * @param ?string $organization_id The organization ID Guid
     * @param  \DocuSign\Admin\Api\OrgConnectApi\GetOrganizationConnectConfigsOptions  $options for modifying the behavior of the function. (optional)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectConfigsResponse
     */
    public function getOrganizationConnectConfigs($organization_id, ?\DocuSign\Admin\Api\OrgConnectApi\GetOrganizationConnectConfigsOptions $options = null)
    {
        list($response) = $this->getOrganizationConnectConfigsWithHttpInfo($organization_id, $options);
        return $response;
    }

    /**
     * Operation getOrganizationConnectConfigsWithHttpInfo
     *
     * Returns a list of Connect configurations under an organization
     *
     * @param ?string $organization_id The organization ID Guid
     * @param  \DocuSign\Admin\Api\OrgConnectApi\GetOrganizationConnectConfigsOptions  $options for modifying the behavior of the function. (optional)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectConfigsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getOrganizationConnectConfigsWithHttpInfo($organization_id, ?\DocuSign\Admin\Api\OrgConnectApi\GetOrganizationConnectConfigsOptions $options = null): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getOrganizationConnectConfigs');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        if ($options != null)
        {
            // query params
            if ($options->getSortBy() != 'null') {
                $queryParams['sortBy'] = $this->apiClient->getSerializer()->toQueryValue($options->getSortBy());
            }
            if ($options->getSiteId() != 'null') {
                $queryParams['siteId'] = $this->apiClient->getSerializer()->toQueryValue($options->getSiteId());
            }
            if ($options->getAccountId() != 'null') {
                $queryParams['accountId'] = $this->apiClient->getSerializer()->toQueryValue($options->getAccountId());
            }
            if ($options->getAllowEnvelopePublish() != 'null') {
                $queryParams['allowEnvelopePublish'] = $this->apiClient->getSerializer()->toQueryValue($options->getAllowEnvelopePublish());
            }
            if ($options->getQ() != 'null') {
                $queryParams['q'] = $this->apiClient->getSerializer()->toQueryValue($options->getQ());
            }
        }

        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectConfigsResponse',
                '/v2/organizations/{organizationId}/connect'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectConfigsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectConfigsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getOrganizationConnectOAuthConfiguration
     *
     * Returns information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return object
     */
    public function getOrganizationConnectOAuthConfiguration($organization_id)
    {
        list($response) = $this->getOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id);
        return $response;
    }

    /**
     * Operation getOrganizationConnectOAuthConfigurationWithHttpInfo
     *
     * Returns information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function getOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getOrganizationConnectOAuthConfiguration');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/oauth";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/v2/organizations/{organizationId}/connect/oauth'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postConnectHmacSecret
     *
     * Saves information about a Connect HMAC secret
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse
     */
    public function postConnectHmacSecret($organization_id)
    {
        list($response) = $this->postConnectHmacSecretWithHttpInfo($organization_id);
        return $response;
    }

    /**
     * Operation postConnectHmacSecretWithHttpInfo
     *
     * Saves information about a Connect HMAC secret
     *
     * @param ?string $organization_id The organization ID Guid
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function postConnectHmacSecretWithHttpInfo($organization_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling postConnectHmacSecret');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/secret";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse',
                '/v2/organizations/{organizationId}/connect/secret'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectHmacSecretsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation postOrganizationConnectOAuthConfiguration
     *
     * Saves information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration $configuration Add an organization-level Connect OAuth configuration (required)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration
     */
    public function postOrganizationConnectOAuthConfiguration($organization_id, $configuration)
    {
        list($response) = $this->postOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id, $configuration);
        return $response;
    }

    /**
     * Operation postOrganizationConnectOAuthConfigurationWithHttpInfo
     *
     * Saves information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration $configuration Add an organization-level Connect OAuth configuration (required)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration, HTTP status code, HTTP response headers (array of strings)
     */
    public function postOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id, $configuration): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling postOrganizationConnectOAuthConfiguration');
        }
        // verify the required parameter 'configuration' is set
        if ($configuration === null) {
            throw new \InvalidArgumentException('Missing the required parameter $configuration when calling postOrganizationConnectOAuthConfiguration');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/oauth";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        // body params
        $_tempBody = null;
        if (isset($configuration)) {
            $_tempBody = $configuration;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration',
                '/v2/organizations/{organizationId}/connect/oauth'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation putOrganizationConnectOAuthConfiguration
     *
     * Updates information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration $configuration Update an organization-level Connect OAuth configuration (required)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration
     */
    public function putOrganizationConnectOAuthConfiguration($organization_id, $configuration)
    {
        list($response) = $this->putOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id, $configuration);
        return $response;
    }

    /**
     * Operation putOrganizationConnectOAuthConfigurationWithHttpInfo
     *
     * Updates information about an organization-level Connect OAuth configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration $configuration Update an organization-level Connect OAuth configuration (required)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration, HTTP status code, HTTP response headers (array of strings)
     */
    public function putOrganizationConnectOAuthConfigurationWithHttpInfo($organization_id, $configuration): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling putOrganizationConnectOAuthConfiguration');
        }
        // verify the required parameter 'configuration' is set
        if ($configuration === null) {
            throw new \InvalidArgumentException('Missing the required parameter $configuration when calling putOrganizationConnectOAuthConfiguration');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/oauth";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        // body params
        $_tempBody = null;
        if (isset($configuration)) {
            $_tempBody = $configuration;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration',
                '/v2/organizations/{organizationId}/connect/oauth'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectOAuthConfiguration', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateOrganizationConnectConfig
     *
     * Updates an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectConfigurationRequest $connect_request Add an organization Connect request (required)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse
     */
    public function updateOrganizationConnectConfig($organization_id, $connect_id, $connect_request)
    {
        list($response) = $this->updateOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id, $connect_request);
        return $response;
    }

    /**
     * Operation updateOrganizationConnectConfigWithHttpInfo
     *
     * Updates an organization-level Connect configuration
     *
     * @param ?string $organization_id The organization ID Guid
     * @param ?string $connect_id The configuration ID Guid
     * @param \DocuSign\Admin\Model\OrganizationConnectConfigurationRequest $connect_request Add an organization Connect request (required)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateOrganizationConnectConfigWithHttpInfo($organization_id, $connect_id, $connect_request): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling updateOrganizationConnectConfig');
        }
        // verify the required parameter 'connect_id' is set
        if ($connect_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connect_id when calling updateOrganizationConnectConfig');
        }
        // verify the required parameter 'connect_request' is set
        if ($connect_request === null) {
            throw new \InvalidArgumentException('Missing the required parameter $connect_request when calling updateOrganizationConnectConfig');
        }
        // parse inputs
        $resourcePath = "/v2/organizations/{organizationId}/connect/{connectId}";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($connect_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "connectId", $connect_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        // body params
        $_tempBody = null;
        if (isset($connect_request)) {
            $_tempBody = $connect_request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse',
                '/v2/organizations/{organizationId}/connect/{connectId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\OrganizationConnectConfigurationDetailsResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
