<?php
declare(strict_types=1);

/**
 * ProductPermissionProfilesApi.
 *
 * PHP version 7.4
 *
 * @category Class
 * @package  DocuSign\Admin
 * @author   Swagger Codegen team <apihelp@docusign.com>
 * @license  The DocuSign eSignature PHP Client SDK is licensed under the MIT License.
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * DocuSign Admin API
 *
 * An API for an organization administrator to manage organizations, accounts and users
 *
 * OpenAPI spec version: v2.1
 * Contact: devcenter@docusign.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 * Swagger Codegen version: 2.4.21-SNAPSHOT
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace DocuSign\Admin\Api\ProductPermissionProfilesApi;



namespace DocuSign\Admin\Api;

use DocuSign\Admin\Client\ApiClient;
use DocuSign\Admin\Client\ApiException;
use DocuSign\Admin\Configuration;
use DocuSign\Admin\ObjectSerializer;

/**
 * ProductPermissionProfilesApi Class Doc Comment
 *
 * @category Class
 * @package  DocuSign\Admin
 * @author   Swagger Codegen team <apihelp@docusign.com>
 * @license  The DocuSign eSignature PHP Client SDK is licensed under the MIT License.
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class ProductPermissionProfilesApi
{
    /**
     * API Client
     *
     * @var ApiClient instance of the ApiClient
     */
    protected ApiClient $apiClient;

    /**
     * Constructor
     *
     * @param ApiClient|null $apiClient The api client to use
     *
     * @return void
     */
    public function __construct(ApiClient $apiClient = null)
    {
        $this->apiClient = $apiClient ?? new ApiClient();
    }

    /**
     * Get API client
     *
     * @return ApiClient get the API client
     */
    public function getApiClient(): ApiClient
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param ApiClient $apiClient set the API client
     *
     * @return self
     */
    public function setApiClient(ApiClient $apiClient): self
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
    * Update $resourcePath with $
    *
    * @param string $resourcePath the resource path to use
    * @param string $baseName the base name param
    * @param string $paramName the parameter name
    *
    * @return string
    */
    public function updateResourcePath(string $resourcePath, string $baseName, string $paramName): string
    {
        return str_replace(
            "{" . $baseName . "}",
            $this->apiClient->getSerializer()->toPathValue($paramName),
            $resourcePath
        );
    }


    /**
     * Operation addUserProductPermissionProfiles
     *
     * Assign user to permission profiles for one or more products
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     * @param ?string $user_id The user ID GUID
     * @param \DocuSign\Admin\Model\ProductPermissionProfilesRequest $product_permission_profiles_request Request object (required)
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\UserProductPermissionProfilesResponse
     */
    public function addUserProductPermissionProfiles($organization_id, $account_id, $user_id, $product_permission_profiles_request)
    {
        list($response) = $this->addUserProductPermissionProfilesWithHttpInfo($organization_id, $account_id, $user_id, $product_permission_profiles_request);
        return $response;
    }

    /**
     * Operation addUserProductPermissionProfilesWithHttpInfo
     *
     * Assign user to permission profiles for one or more products
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     * @param ?string $user_id The user ID GUID
     * @param \DocuSign\Admin\Model\ProductPermissionProfilesRequest $product_permission_profiles_request Request object (required)
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\UserProductPermissionProfilesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function addUserProductPermissionProfilesWithHttpInfo($organization_id, $account_id, $user_id, $product_permission_profiles_request): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling addUserProductPermissionProfiles');
        }
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling addUserProductPermissionProfiles');
        }
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling addUserProductPermissionProfiles');
        }
        // verify the required parameter 'product_permission_profiles_request' is set
        if ($product_permission_profiles_request === null) {
            throw new \InvalidArgumentException('Missing the required parameter $product_permission_profiles_request when calling addUserProductPermissionProfiles');
        }
        // parse inputs
        $resourcePath = "/v2.1/organizations/{organizationId}/accounts/{accountId}/products/users/{userId}/permission_profiles";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($account_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "accountId", $account_id);
        }
        // path params
        if ($user_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "userId", $user_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        // body params
        $_tempBody = null;
        if (isset($product_permission_profiles_request)) {
            $_tempBody = $product_permission_profiles_request;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\UserProductPermissionProfilesResponse',
                '/v2.1/organizations/{organizationId}/accounts/{accountId}/products/users/{userId}/permission_profiles'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\UserProductPermissionProfilesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\UserProductPermissionProfilesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getProductPermissionProfiles
     *
     * Get products associated with the account and the available permission profiles
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\ProductPermissionProfilesResponse
     */
    public function getProductPermissionProfiles($organization_id, $account_id)
    {
        list($response) = $this->getProductPermissionProfilesWithHttpInfo($organization_id, $account_id);
        return $response;
    }

    /**
     * Operation getProductPermissionProfilesWithHttpInfo
     *
     * Get products associated with the account and the available permission profiles
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\ProductPermissionProfilesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getProductPermissionProfilesWithHttpInfo($organization_id, $account_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getProductPermissionProfiles');
        }
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling getProductPermissionProfiles');
        }
        // parse inputs
        $resourcePath = "/v2.1/organizations/{organizationId}/accounts/{accountId}/products/permission_profiles";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($account_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "accountId", $account_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\ProductPermissionProfilesResponse',
                '/v2.1/organizations/{organizationId}/accounts/{accountId}/products/permission_profiles'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\ProductPermissionProfilesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\ProductPermissionProfilesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getUserProductPermissionProfiles
     *
     * Retrieve list of user's permission profiles for each account's product
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     * @param ?string $user_id The user ID GUID
     *
     * @throws ApiException on non-2xx response
     * @return \DocuSign\Admin\Model\ProductPermissionProfilesResponse
     */
    public function getUserProductPermissionProfiles($organization_id, $account_id, $user_id)
    {
        list($response) = $this->getUserProductPermissionProfilesWithHttpInfo($organization_id, $account_id, $user_id);
        return $response;
    }

    /**
     * Operation getUserProductPermissionProfilesWithHttpInfo
     *
     * Retrieve list of user's permission profiles for each account's product
     *
     * @param ?string $organization_id The organization ID GUID
     * @param ?string $account_id The account ID GUID
     * @param ?string $user_id The user ID GUID
     *
     * @throws ApiException on non-2xx response
     * @return array of \DocuSign\Admin\Model\ProductPermissionProfilesResponse, HTTP status code, HTTP response headers (array of strings)
     */
    public function getUserProductPermissionProfilesWithHttpInfo($organization_id, $account_id, $user_id): array
    {
        // verify the required parameter 'organization_id' is set
        if ($organization_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organization_id when calling getUserProductPermissionProfiles');
        }
        // verify the required parameter 'account_id' is set
        if ($account_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_id when calling getUserProductPermissionProfiles');
        }
        // verify the required parameter 'user_id' is set
        if ($user_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $user_id when calling getUserProductPermissionProfiles');
        }
        // parse inputs
        $resourcePath = "/v2.1/organizations/{organizationId}/accounts/{accountId}/products/users/{userId}/permission_profiles";
        $httpBody = $_tempBody ?? ''; // $_tempBody is the method argument, if present
        $queryParams = $headerParams = $formParams = [];
        $headerParams['Accept'] ??= $this->apiClient->selectHeaderAccept(['application/json']);
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);


        // path params
        if ($organization_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "organizationId", $organization_id);
        }
        // path params
        if ($account_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "accountId", $account_id);
        }
        // path params
        if ($user_id !== null) {
            $resourcePath = self::updateResourcePath($resourcePath, "userId", $user_id);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires OAuth (access token)
        if (strlen($this->apiClient->getConfig()->getAccessToken()) !== 0) {
            $headerParams['Authorization'] = 'Bearer ' . $this->apiClient->getConfig()->getAccessToken();
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\DocuSign\Admin\Model\ProductPermissionProfilesResponse',
                '/v2.1/organizations/{organizationId}/accounts/{accountId}/products/users/{userId}/permission_profiles'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\DocuSign\Admin\Model\ProductPermissionProfilesResponse', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\DocuSign\Admin\Model\ProductPermissionProfilesResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
